fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
asyncpg
alembic
psycopg2-binary
pgvector
insightface
onnxruntime==1.10.0
opencv-python-headless
numpy<1.24.0
aioboto3
types-aioboto3[s3]
python-multipart
celery
redis
psutil
python-dotenv
flower
httpx
pytest
pytest-asyncio
slowapi
